<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dao.fe.CartDao">
    <insert id="insert">
        insert into person_cart(cart_time, cart_num, cart_subTotal, pro_id, user_id)
         values(#{cart_time},#{cart_num},#{cart_subTotal},#{pro_id},#{user_id})
    </insert>

    <resultMap id="getCartResultMap" type="com.entity.fe.CartEntity">
        <id column="cart_id" property="cart_id"></id>
        <result column="cart_time" property="cart_time"/>
        <result column="cart_num" property="cart_num"/>
        <result column="cart_subTotal" property="cart_subTotal"/>
        <result column="pro_id" property="pro_id"/>
        <result column="user_id" property="user_id"/>

        <result column="pro_name" property="pro_name"/>
        <result column="pro_discount" property="pro_discount"/>
        <result column="pro_iPrice" property="pro_iPrice"/>
        <result column="pro_Desc" property="pro_Desc"/>

        <result column="img_path" property="img_path"/>
    </resultMap>
    <select id="getAll" resultMap="getCartResultMap">
        select * from person_cart c
        join person_pro p on c.pro_id = p.pro_id
        join person_img i on p.pro_id=i.pro_id
        where c.user_id=#{user_id}
    </select>

    <select id="getCartPrice" resultMap="getCartResultMap">
    select * from person_cart c
            join person_pro p on c.pro_id = p.pro_id
            where p.pro_id=#{pro_id} and c.user_id=#{user_id}
    </select>
    <update id="update">
        update person_cart set cart_num=#{num},cart_subTotal=#{subTotal}  where pro_id=#{pro_id} and user_id=#{user_id}
    </update>


    <select id="recordCartCount" resultType="com.entity.fe.CartEntity">
        select count(*) from person_cart where user_id=#{user_id}
    </select>

</mapper>