<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dao.fe.ChildCateDao">
    <select id="getById" resultType="com.entity.fe.ChildCateEntity">
        select child_id,child_name,father_id from person_child_cate
        where father_id=#{father_id}
    </select>

    <select id="getAll" resultType="com.entity.fe.ChildCateEntity">
        select child_id,child_name,father_id from person_child_cate
    </select>
</mapper>