<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dao.UserDao">
    <select id="getAll" resultType="com.entity.UserEntity">
        select user_id,user_name,user_pwd,user_phone,
        user_sex,user_face,user_regTime,province_id,city_id,
        county_id from person_user order by user_id
    </select>

    <select id="getByName" resultType="com.entity.UserEntity">
        select user_name,user_pwd,user_phone,user_sex,
        user_face,user_regTime,province_id,city_id,
        county_id from person_user where user_name=#{user_name}
    </select>

    <select id="getUserId" resultType="com.entity.UserEntity">
        select user_id from person_user where user_name=#{username}
    </select>

    <insert id="insert">
        insert into person_user(user_name, user_pwd, user_sex,
        user_phone, province_id, city_id, county_id, user_face, user_regTime)
        values (#{user_name},#{user_pwd},#{user_sex},#{user_phone},
        #{province_id},#{city_id},#{county_id},#{user_face},#{user_regTime})
    </insert>

    <update id="update">
        update person_user set user_name=#{username},user_pwd=#{user_pwd},
        user_phone=#{user_phone},user_face={user_face} where user_id=#{user_id}
    </update>


</mapper>